.footerContainer {
    background-color: var(--lightBeige);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 75px;
    padding-bottom: 50px;
    margin-top: var(--MB);
    /* z-index: 0; */
}

.footerContainer .infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.footerContainer .infos .rs {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footerContainer .infos .rs a {
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContainer .instaIcon, .footerContainer .fbIcon {
    fill: var(--kaki);
    /* transition: .3s; */
}

.footerContainer .instaIcon:hover, .footerContainer .instaIcon:focus, .footerContainer .fbIcon:hover, .footerContainer .fbIcon:focus {
    fill: var(--accentBeige);
    /* transition: .3s; */
}

.footerContainer .infos p {
    font-size: 18px;
    font-weight: 500;
    color: var(--kaki);
    line-height: 1.6em;
    margin: auto;
    text-align: center;
}

.footerContainer .phoneNumber {
    letter-spacing: 10%;
}

.footerContainer .links {
    display: flex;
}

.footerContainer .links a {
    font-size: 16px;
    font-weight: 400;
    position: relative;
    margin: 0 26px;
    /* transition: .3s; */
}

.footerContainer .links a:hover, .footerContainer .links a:focus {
    text-decoration: underline;
    /* transition: .3s; */
}

.footerContainer .links a::after {
    content: '';
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--black);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -29px;
}

.footerContainer .links a:last-of-type::after {
    height: 0;
    width: 0;
}

@media screen and (max-width: 520px) {
    .footerContainer {
        gap: 30px;
        padding-top: 50px;
        padding-bottom: 35px;
    }
    
    .footerContainer .infos {
        gap: 10px;
    }

    .footerContainer .links {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .footerContainer .links a::after {
        height: 0;
        width: 0;
    }
}

@media screen and (max-width: 440px) {
    .footerContainer .infos p .br::after {
        display: inline;
    }
}